In [1]:
import pandas as pd

In [2]:
var = [1,2,3,4,5,6,7,8]

In [6]:
data = pd.Series(var)

In [7]:
print(type(data))

<class 'pandas.core.series.Series'>

In [8]:
name = [10,20,30,40,50,60,70]

In [10]:
df = pd.DataFrame({"name" : ["a","b","c","d","e","f","g"],
                   "age" : name})

In [11]:
df

  name  age
0    a   10
1    b   20
2    c   30
3    d   40
4    e   50
5    f   60
6    g   70

In [12]:
print(type(df))

<class 'pandas.core.frame.DataFrame'>

In [15]:
df.to_csv("Data.csv", index = False)